Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [28]:
a = "I am learning Data Science Master 2.0"
a

'I am learning Data Science Master 2.0'

In [29]:
b = [1, 2, 3, 4, 'Data', 'Science', True]
b

[1, 2, 3, 4, 'Data', 'Science', True]

In [27]:
c = 3.14
c

3.14

In [31]:
d = ("this", "is", "my", "tuple")
d

('this', 'is', 'my', 'tuple')

Q2. Given are some following variables containing data:

What will be the data type of the above given variable.

var1 = ''                      - This is string type.

var2 ='[DS, ML, Python]'       - This is string type.

var3 = ['DS', 'ML', 'Phython'] - This is list type

var4 = 1                       - This is integer type

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [22]:
 # / - This is for Division. Output is of float type.
11/5

2.2

In [23]:
# % - This is used to ge the reminder after division.
10%3

1

In [24]:
# // - This is used for floor division, which means after division we get integer number.
55//4

13

In [25]:
# ** - Thiis is used for exponentiation.
4**2

16

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [32]:
myList = ['MyList', "goes here", 11, 15, 66, False, 55, 55.75, ('My', 'tuple', 'is', 'here'), "30"]
for i in myList:
    print(str(i) + ' is of data type: ' + str(type(i)))

MyList is of data type: <class 'str'>
goes here is of data type: <class 'str'>
11 is of data type: <class 'int'>
15 is of data type: <class 'int'>
66 is of data type: <class 'int'>
False is of data type: <class 'bool'>
55 is of data type: <class 'int'>
55.75 is of data type: <class 'float'>
('My', 'tuple', 'is', 'here') is of data type: <class 'tuple'>
30 is of data type: <class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [37]:
A = 100
B = 2
count = 0
while A%B == 0 :
    count += 1
    A = A/B
    
print(count)

2

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [38]:
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

for i in list:
    if(i % 3 == 0):
        print(str(i) + " is divisible by 3")
    else:
        print(str(i) + " is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

For any object if we can replace any single item then that is mutable, like list. For any list we can change nth item from the list.

list = [1,2,3,3,5]

list[3] = 4;

String is immutable. We can get characters from any string but we can not change single character from string.